#game {
  height: 100%;
  width: 100%;
}

.game-board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 1em;
}

body {
  display: flex;
  justify-content: center;
}

.box {
  border: 6px solid #2c3e50;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
}

.box:nth-child(9) {
  grid-area: 1 / 2 / 2 / span 2;
}

header {
  grid-area: header;
  background-color: aqua;
}

nav {
  grid-area: nav;
  background-color: aquamarine;
}

main {
  grid-area: main;
  background-color: blueviolet;
}

aside {
  grid-area: aside;
  background-color: darkgreen;
}

footer {
  grid-area: footer;
  background-color: darkturquoise;
}

.container {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 2fr 5fr 3fr;
  grid-template-areas:
    "header header header"
    "nav    main   aside"
    "footer footer footer";
  grid-gap: 0.5em;
}
